.box1 {
  width: 200px; /* largura da caixa */
  height: 200px; /* altura da caixa */
  background-color: #00ff00; /* cor de fundo verde */
  margin-right: 20px; /* margem à direita para espaçamento */
}

/* Estilizando a segunda caixa */
.box2 {
  width: 200px; /* largura da caixa */
  height: 200px; /* altura da caixa */
  background-color: #00ff00; /* cor de fundo verde */
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
}